body{
    background: #f0f4f8 !important;
    font-family: Manjari;
}
.nav{
   background-image: linear-gradient(116deg,#252c66,#161f56);
    padding:10px;
}
.nav .nav-item .nav-link {
    color:#F4F4F7;
}
.nav li a:hover{
    border:1px solid white;
    border-radius: 0px;
}
.form-box{
    background: white;
    padding:25px;
}
.tableBox{
    background: white;
}
